*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.container{
    margin: 0 auto;
    max-width: 900px;
}
 html{
    font-family: "Noto Serif", serif;
 }

 ol, ul {
    list-style: none;
 }

 a{
    text-decoration: none;
    color: currentColor;
 }

 /*layout*/
 .row{
    display: flex;
    flex-wrap: wrap;
}


 .col-33{
    width: calc(100% / 3);
 }

 /*page header*/
.logo{
    display: block;
    height: 30px;
    
}


 .header-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: rgb(255, 184, 52);
    border-bottom-style:inset;
    border-bottom-color: rgb(198, 198, 198);

 }
 .emoji, .menu{
    display: flex;
    font-size: 12px;
    gap: 10px;
    color: white;

    /*section*/

 }

 h1{
    text-align: center;
    font-weight: bold;
    font-size: larger;
 }

 p{
    text-align: center;
    font-weight: bold;
    font-size: medium;
 }

 .col-33{
    padding: 20px;
    gap: 20px;
 }

 .model{
    width: 280px;
    display: block;
   
}

.products .row{
    align-items: center;
}
.price{
   flex-wrap: wrap;
   display: flex;
   gap: 20px;
   border: groove;
   border-color: rgb(255, 255, 255);
   flex-direction: column;
   gap: 0;
 align-items: flex-start;
}

.brand{
   font-size: 10px;
   
}
.clothes{
   font-size: 13px;
   font-weight: bold;

}
.saldi{
   color: red;
   font-size: 11px;

}

.real-price{
   color: black;
   text-decoration: line-through;
}








footer{
    display: flex;
    padding: 20px;
    background-color: black;
    color: orange;
}